  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  /* ===================   MAIN   =================== */
  
  .main {
    width: 100%;
    max-width: 800px;
    min-height: 50vh;
    max-height: 80vh;
    overflow-y: hidden;
    justify-self: center;
    box-shadow: 5px 10px 18px gray;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }
  
  /* ===================   INPUT   =================== */
  
  .inputGroup {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      width: 50%;
  }
  
  input {
    width: 80%;
    font-size: 1rem;
    color: gray;
    text-align: center;
  }
  
  /* ==================   BUTTONS   ================== */
  
  .button {
    width: 15%;
    background: none;
    border: 1px solid transparent;
    outline: none;
    font-size: 1.6rem;
  }
  
  .submit_button {
    font-size: 1rem;
    color: palevioletred;
    transition: 0.6s;
  }
  
  .submit_button:hover {
    color: gray;
    font-weight: 300;
  }
